
#clave {
    margin-left: 20px;
}

.table{
    border : solid #000
}
.salida_binaria {
    margin-left: 50px;
}

.lbl_entrada{
    font-weight: bold;
}

.procesar {
    width: 200px;

}
.col-6{
    margin-bottom : 50px;
}

.select_rotacion {
    width: 200px;
    height: 50px;
}

table{
    padding: 10px;
    width: 400px;
    text-align: center;
}
td{
    border: black solid;
    font-weight: bold;
}

#KiRes{
    margin-top: 25px;
    font-weight: bold;
}

/*
#rotacionKI{
    background-color: lightcoral;
}  */

